<ion-view title="Page" id="page41">
  <ion-content padding="true" style="background: url(img/AaJASgmlRSi10KsbFDyZ_Fotolia_191646882_M-web.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="page-markdown148" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Von</strong> Lifeplus</p>
    </div>
    <div ng-init="videourl_video179=&quot;https://player.vimeo.com/video/282273522?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page-video179">
      <iframe src="{{videourl_video179}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>